{% load static %}
    <!-- Footer -->
    <footer>
        <div class="container">
          <div class="footer-content">
            <div class="footer-column">
              <h3>PerqClub</h3>
              <p>
                Connecting coffee lovers with amazing cafés. One membership,
                endless possibilities.
              </p>
              <div class="social-links">
                <a href="#our-fb-ac-link">F</a>
                <a href="https://www.instagram.com/perqclub/?utm_source=ig_web_button_share_sheet">I</a>
                <a href="#our-X-Ac-link">X</a>
                <a href="#our-website-link">G</a>
                <a href="#our-yt-link">Y</a>
               
              </div>
            </div>
            <div class="footer-column quick-links">
              <h3>Quick Links</h3>
              <ul>
                <li><a href="#how-it-works">How It Works</a></li>
                <li><a href="{% url 'cafe_list' %}">Partner Cafés</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <li><a href="#benefits">Benefits</a></li>
              </ul>
            </div>
            <div class="footer-column for-businesses">
              <h3>For Businesses</h3>
              <ul>
                <li><a href="#">Become a Partner</a></li>
                <li><a href="{% url 'login_user' %}">Partner Login</a></li>
                <li><a href="{% url 'About-us' %}competitive-advantage">Partner Benefits</a></li>
                <li><a href="{% url 'About-us' %}#our-story">Success Stories</a></li>
              </ul>
            </div>
            <div class="footer-column contact-us">
              <h3>Contact Us</h3>
              <ul>
                <li><a href="{% url 'contact' %}">Help</a></li>
                <li><a href="mailto:perqclub@gmail.com">perqclub@gmail.com</a></li>
                <li>+91 8828298801</li>
                <li>Bandra, Mumbai</li>
              </ul>
            </div>
          </div>
          <div class="footer-bottom">
            <p>&copy; 2025 PerqClub. All rights reserved.</p>
            <div class="footer-legal-links">
              <a href="#">Privacy Policy</a>
              <a href="#">Terms of Service</a>
            </div>
          </div>
        </div>
      </footer>
      