{% load static %}

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Bangers&family=Birthstone&family=Bungee+Tint&family=Bytesized&family=Prompt:wght@500;600&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap"
  rel="stylesheet"
/>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  integrity="sha512-ybkWxS+zKCyZ7eJwN+Q7RMQ0iY0jOC6YcQyrE/vUxxdLZQoE0oZ1uZfTzvN90qOwFJChY0aLk2cg0SBDZ9U2Mg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

{% comment %} <link rel="stylesheet" href="{% static 'css/index.css' %}" /> {% endcomment %}
